{% extends "end_user/base.html" %}

{% block body %}
    <div class="content-section">
        <div class="center">
            <div class="container">
                <br>
                <br>
                {% if type =='unknown-error' %}
                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">Foutmelding!</h4>
                        <h5>Er is een fout opgetreden</h5>
                        <hr>
                        {% if message %}
                            <h5>Bijkomende informatie: </h5>
                            {{ message }}
                            <hr>
                        {% endif %}
                        <p>Gelieve een bericht te sturen naar <a href="mailto:manuel.borowski@campussintursula.be">manuel.borowski@campussintursula.be</a>
                        </p>
                    </div>
                {% endif %}

                {% if type=='could-not-enter' %}
                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">Foutmelding!</h4>
                        <h5>U kan zich nog niet aanmelden. Probeer later opnieuw!</h5>
                    </div>
                {% endif %}

                {% if type=='not-opened-yet' %}
                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">Foutmelding!</h4>
                        <h5>Onze excuses, de infosessie is nog niet toegankelijk.</h5>
                        <h5>Probeer opnieuw op maandag 3 mei om 19 uur.</h5>
                    </div>
                {% endif %}

                {% if type =='register-ok' %}
                    <div class="alert alert-success" role="alert">
                        <h5>Je registratie voor de digitale infoavond van 3 mei is succesvol voltooid!</h5>
                        <br>
                        <h5>Binnen enkele minuten ontvang je een bevestigingsmail met de nodige informatie. Mocht je deze mail niet ontvangen hebben, check dan de map ‘ongewenste mail’.</h5>
                        <h5>Wij ontmoeten je in ieder geval graag op maandag 3 mei vanaf 19 uur.</h5>
                        <br>
                        <h5>Tot gauw!</h5>
                        <h5>Scholengemeenschap HeLiKs</h5>
                    </div>
                {% endif %}

                {% if type =='cancel-ok' %}
                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">Reservatie is verwijderd</h4>
                        <h5>U mag dit venster sluiten.</h5>
                        </p>
                    </div>
                {% endif %}

                {% if type =='could-not-register' %}
                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">Foutmelding!</h4>
                        <h5>U kan geen reservatie aanmaken</h5>
                        <hr>
                        {% if message %}
                            <h5>Bijkomende informatie: </h5>
                            {{ message }}
                            <hr>
                        {% endif %}
                        <p>Gelieve een bericht te sturen naar <a href="mailto:manuel.borowski@campussintursula.be">manuel.borowski@campussintursula.be</a>
                        </p>
                    </div>
                {% endif %}

                {% if type =='could-not-cancel' %}
                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">Foutmelding!</h4>
                        <h5>U kan deze reservatie niet verwijderen</h5>
                        <hr>
                        {% if message %}
                            <h5>Bijkomende informatie: </h5>
                            {{ message }}
                            <hr>
                        {% endif %}
                        <p>Gelieve een bericht te sturen naar <a href="mailto:manuel.borowski@campussintursula.be">manuel.borowski@campussintursula.be</a>
                        </p>
                    </div>
                {% endif %}

                {% if type =='no-registration-found' %}
                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">Foutmelding!</h4>
                        <h5>Onze excuses, er is geen registratie gevonden.</h5>
                        <h5>Gelieve een nieuwe registratie te maken.</h5>
                        <hr>
                        <a class="btn btn-success btn-lg" type="submit"
                           href="{{ url_for('end_user.register', code = info.code) }}">Registreren</a>
                        </p>
                    </div>
                {% endif %}

                {% if type =='survey-ok' %}
                    <div class="alert alert-success" role="alert">
                        <h5>We hebben je antwoorden op de bevraging goed ontvangen, hartelijk dank!</h5>
                    </div>
                {% endif %}

                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
{% endblock %}